:root {
/* ——————— Color ——————— */
  --background: #FFFFFF;
  --background-dark: #1D1C1C;
  --card-color: #F6F2EF;
  --accent-magenta: #FF5678;
  --accent-green: #149770;
  /* Font colors */
  --text-primary: #1D1C1C;
  --text-secondary: #787878;
  --text-reversed: #FFFFFF;

/* ——————— Typography ——————— */
  /* Fonts */
  --font-family-primary: 'Nunito', sans-serif;
  --font-family-secondary: 'Nunito Sans', sans-serif;
  /* Sizes */
  --font-size-h1: 88px;
  --font-size-h2: 48px;
  --font-size-subtitle: 40px;
  --font-size-label: 20px;
  --font-size-button-1: 16px;
  --font-size-p-1: 20px;
  --font-size-button-2: 16px;
  /* Weights */
  --font-weight-h1: 800;
  --font-weight-h2: 800;
  --font-weight-subtitle: 600;
  --font-weight-label: 700;
  --font-weight-button-1: 600;
  --font-weight-p-1: 400;
  --font-weight-button-2: 700;

  /* ——————— Space ——————— */
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --space-96: 96px;
  --space-128: 128px;
}


/* ——————— mimo/ish - changed it a little bit 🍌 ——————— */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 80%;
}


/* ——————— Basic Styles ——————— */
h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

h2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

h3 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-label);
}

subtitle {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
  color: var(--text-secondary);
}

label {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-label);
}

button {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-button-1);
  font-weight: var(--font-weight-button-1);
  letter-spacing: 3px;
  color: var(--text-reversed);
  background-color: var(--accent-magenta);
  border-radius: 40px;
  padding: var(--space-8) var(--space-24);
  border: none;
}

button:hover {
  background-color: var(--accent-magenta);
  opacity: .5;
  cursor: not-allowed;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: var(--text-primary);
  line-height: 25px;
  font-size: var(--font-size-p-1);
}

span {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: var(--text-primary);
  line-height: 25px;
  font-size: var(--font-size-button-2);
  color: var(--text-reversed);
}

a {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: var(--text-primary);
  line-height: 25px;
  font-size: var(--font-size-p-1);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-magenta);
}

.subtitle {
  color: var(--text-secondary);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-subtitle);
}



/* ——————— Nav ——————— */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: var(--space-96);
  padding: 0px var(--space-128);
  margin-top: var(--space-24);
}

.header > :nth-child(2) {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .nav a {
  padding: 0 var(--space-16) 0 0;
}

.selection-current-site {
  text-decoration: underline;
  text-decoration-color: var(--accent-magenta);
}


/* ——————— Banner ——————— */
.banner {
  padding: 0px var(--space-128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-64) 0px;
}

.banner > :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.banner div h1 {
  width: 450px;
  margin-bottom: var(--space-16);
}

.banner div form {
  display: flex;
  align-items: center;
  margin-top: var(--space-32);
}


.banner div form input {
  background-color: var(--card-color);
  width: calc(var(--space-128)*2);
  padding: var(--space-24);
  border-radius: var(--space-16);
  color: var(--text-secondary);
  font-size: var(--font-size-p-1);
  font-weight: var(--font-weight-p-1);
  margin-right: var(--space-16);
  border: none;
}

.banner div form button {
  padding: 20px 24px;
}

.banner > img:nth-child(2) {
  height: 30vw;
}



/* ——————— about section ——————— */
#about {
  padding: 0px var(--space-128);
}

#about div {
  border-top: 2px solid var(--text-secondary);
  border-bottom: 2px solid var(--text-secondary);
  padding: var(--space-64) 0px;
}

#about div h2 {
  margin-bottom: var(--space-32);
}

#about div p {
  margin-top: var(--space-16);
  max-width: 60vw;
}

#about div p a {
  color: var(--accent-magenta);
  text-decoration: underline;
}

.old-link:hover + .text-link {
  display: inline-block;
}

.old-link:hover {
  display: none;
}

.text-link {
  display: none;
}


/* ——————— special offer section ——————— */
.section {
  padding: 0px var(--space-128);
  margin: var(--space-64) 0 var(--space-64) 0;
}

.section h2 {
  margin-bottom: var(--space-32);
}


/* ——————— cards ——————— */
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.card {
  background-color: var(--card-color);
  text-align: center;
  padding: var(--space-24);
  border-radius: var(--space-16);
  margin: 0 var(--space-16) var(--space-16) 0;
  width: calc(33.33% - var(--space-64));
  height: 100%;
  min-width: calc(var(--space-64) + var(--space-128));
  position: relative;
}

.card-img {
  overflow: hidden;
  border-radius: var(--space-8);
  flex-basis: 25%;
}

.card-img img {
  width: 20vw;
  transform: scale(2);
  border-radius: var(--space-8);
  object-fit: contain;
}

.card p {
  margin-top: var(--space-24);
}

.card button {
  margin-top: var(--space-24);
}

.card-3 {
  margin-right: -16px;
}

.card-badge {
  background-color: var(--accent-green);
  color: var(--text-reversed);
  padding: var(--space-8) var(--space-24) var(--space-8) var(--space-16);
  border-radius: var(--space-24) 0 0 var(--space-24);
  position: absolute;
  top: var(--space-16);
  right: 0;
  z-index: 1;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-price {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  height: 30px;
}

.origin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 30px;
  font-size: var(--font-size-button-2);
}




/* ——————— footer ——————— */
footer {
  background-color: var(--background-dark);
  color: white;
  padding: var(--space-48) 0;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.container-footer p {
  color: var(--text-reversed);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.icon:hover {
   color: var(--accent-magenta);
}

.fa-facebook-f {
  background-color: white;
  color: var(--background-dark);
  border-radius: 25px;
  padding: 8px;
  width: 15px;
  height: 15px;
}

.fa-facebook-f:hover {
  background-color: var(--accent-magenta);
}






/* ——————— Media queries ——————— */
/* I have decided to keep the media queries in one CSS file, since it is not too large and easy to keep track of everything. For a larger project, I would have created a phone-screen.css and tablet-screen.css besides the style.css file. 
Also I've measured when it would make most sense to change the layout instead of going with the commonly googlable*? break points :-) */

/* ——————— Tablet ———————  */
@media only screen and (max-width: 1030px) {
  /* ——————— Nav ———————  */
.header {
  padding: 0px var(--space-64);
}
  /* ——————— Banner ———————  */
.banner {
  padding: 0px var(--space-64);
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.banner > img:nth-child(2) {
  height: 50vw;
}
  
  /* ——————— About ———————  */
#about {
  padding: 0px var(--space-64);
}

#about div p {
  margin-top: var(--space-16);
  max-width: 100vw;
}

  /* ——————— Cards ———————  */
.section {
  padding: 0px var(--space-64);
  margin: var(--space-64) 0 var(--space-64) 0;
}

.card {
  width: calc(50% - var(--space-64));
  height: 100%;
}

.card-img img {
  height: 15vh;
  width: 25vw;
  transform: scale(2);
  border-radius: var(--space-8);
}

}




/* ——————— Mobile ———————  */
@media only screen and (max-width: 650px) {
  /* ——————— Nav ———————  */

.header {
  padding: 0px var(--space-24);
  flex-direction: column;
  height: 100%;
}

.header .nav a {
  padding: 0 var(--space-16) 0 var(--space-16);
}

.header button {
  margin-top: var(--space-16);
}

.header > :nth-child(2) {
  height: auto;
  flex-direction: column;
  margin-top: var(--space-16);
}
  
  
  /* ——————— Banner ———————  */


  
.banner {
  padding: 0px var(--space-24);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.banner-cta {
  align-items: center;
  text-align: center;
}

.banner div form input {
  padding: var(--space-16);
  margin-right: var(--space-16);
  width: 70%;
}

.banner div form button {
  padding: 12px 16px;
}
  
.banner div h1 {
  font-size: 14vw;
  width: 80%;
}

.banner .subtitle {
  font-size: 8vw;
  width: 80%;
}

.banner > img:nth-child(2) {
  height: 50vw;
}
  
  /* ——————— About ———————  */
#about {
  padding: 0px var(--space-24);
}

#about div p {
  margin-top: var(--space-16);
  max-width: 100vw;
}

  /* ——————— Cards ———————  */
.section {
  padding: 0px var(--space-24);
  margin: var(--space-64) 0 var(--space-64) 0;
}

.card {
  width: 100%;
  height: 100%;
  margin-right: 0;
}

.card-img img {
  height: 50%;
  width: 100%;
  transform: scale(1.5);
}

}